* {
  box-sizing: border-box;
}

body {
  background-color: #ffe2b0;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  text-align: center;
  padding: 0px;
}

li {
  display: inline;
  margin-right: 100px;
}

a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  margin-top: 50px;
}

a:hover {
  cursor: pointer;
  color: red;
}

li:last-child {
  margin-right: 0px;
}

nav {
  margin-bottom: 20px;
}

.section-about {
  height: 640px;
  background: url(../img/background\ pic.jpg) center/cover no-repeat;
  /* background-image: url(../img/background\ pic.jpg); */
  /* background-position: center;
  background-size: cover; */
  position: relative;
  margin-bottom: 20px;
}

.sa_block {
  width: 420px;
  height: 190px;
  background: linear-gradient(
    180deg,
    rgba(244, 213, 178, 0.8) 0%,
    rgba(234, 156, 65, 0.8) 100%
  );
  position: absolute;
  left: 50%;
  top: 54%;
  text-align: center;
  padding-top: 15px;
}

.sa_border {
  width: 360px;
  height: 160px;
  border: 1px solid black;
  margin: 0 auto;
  padding: 17px 0 0 28px;
  text-align: left;
}

.sa_title {
  margin: 0;
  font-family: "Philosopher", sans-serif;
  font-size: 36px;
  margin-bottom: 9px;
}

.sa_text {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-family: ;
}

.sd_icon-box {
  text-align: center;
  /* letter-spacing: 76px; */
}

.sd_icon-box img {
  margin-right: 76px;
}

.sd_icon-box img:last-child {
  margin-right: 0;
}
